* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

.row {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    line-height: 3;
}

footer {
    background-color: #172337;
    color: white;
    padding-top: 3%;
}

.Footer h6 {
    color: #878787;
    font-size: .8em;
}

.Footer>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: .75em;
    font-weight: 100;
}

.Footer a {
    color: white;
    line-height: 1.3rem;
}

.Footer p {
    margin: 0;
    font-size: .96em;
    line-height: 1.2rem;
}

footer i {
    color: gold;
}

footer span {
    font-size: .75em;
    cursor: pointer;
}

div a {
    text-decoration: none;
}

i {
    padding: 10px;
}